<h1>fayl kiritish</h1>
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input name="ism" type="text">
    <input name="familya" type="text">
    <input name="fan" type="text">
    <input name="pasport" type="file">
    <input name="diplom" type="file">
    <input name="ariza" type="file">
    <input name="malumotnoma" type="file">
    <input name="anketa" type="file">
    <input name="kochirma" type="file">
    <input name="yollanma" type="file">
    <input name="royhat" type="file">
    <button type="submit">kiritish</button>
</form>
