{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static '/image/QDPI.png' %}" type="image/x-icon">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="{% static '/bootsrtap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/yangilik/bootsrtap/css/bootstrap.min.css' %}">
    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/yangilik/css/style.css' %}">
    <title>Axborot-resurs markazi</title>
</head>
<body>   
    {% if user.is_authenticated %} 
            
        {% if user.is_superuser %} 
            <div class="container-fluid row m-0 p-0">
                <div class="col vh-100 m-0 p-0">
                    <a action="{% url 'home' %}" class="nav-link active m-0 h5" aria-current="page" href="{% url 'logout' %}"  >Chiqish</a>
                    <a href="{% url 'yuklash' %}">malumotlar</a> 
                </div>
            </div> 
        {% else %} 
            <div class="container-fluid row m-0 p-0">
                <div class="col vh-100 m-0 p-0">
                    <a action="{% url 'home' %}" class="nav-link active m-0 h5" aria-current="page" href="{% url 'logout' %}"  >Chiqish</a>
                    <a href="{% url 'fayl' %}">malumot kiritish</a>
                </div>
            </div>                                 
        {% endif %}         
                
        
    {% else%}         
        <div class="container-fluid row m-0 p-0">
            <div class="col vh-100 m-0 p-0">
                <a href="{% url 'kirish' %}">kirish</a> 
                <a href="{% url 'royhat' %}">royhatdan otish</a>                     
            </div>
        </div>
    {% endif %} 
        
    <!-- JS FAYL BOOTSTRAP-->
    <script src="{% static '/bootsrtap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/yangilik/bootsrtap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- MY JS -->
    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/yangilik/js/app.js' %}"></script>
</body>
</html>