
body {
  background: #f0faff !important;
}
.container {
  max-width: 1200px !important;
}
.hujjatlar {
  padding-top: 15px;
  padding-bottom: 15px;
}
.fan-nomi {
  font-size: 24px;
}
.hujjat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 8px 10px;
  border: 1px solid #535ba4;
  border-radius: 8px;
  background: #fff;
}
.fan-nomi {
  font-size: 22px;
}
.hujjat-link {
  text-decoration: none;
}
.send-link {
  background-color: #535ba4;
  padding: 5px 8px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.4s ease;
}
.send-link:hover {
  background-color: rgba(83, 91, 164, 0.85);
}

@media screen and (max-width:600px)  {
  .fan-nomi {
    font-size: 18px;
  }
}