<h1>Ro`yhatdan o`tish</h1>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="id">
    <input type="text" name="familya" placeholder="familya">
    <input type="text" name="ism" placeholder="ism">
    <input type="text" name="sharif" placeholder="sharif">
    <input type="text" name="telefon" placeholder="telefon">
    <input type="text" name="password1" placeholder="parol">
    <input type="text" name="password2" placeholder="parolni tasdiqlang">
    <button type="submit">saqlash</button>
</form>