*,
::after,
::before{
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif !important;
  font-size: 16px;
  line-height: 22px;
  background: #f0faff !important;
  color: #4a4b4c;
}

img {
  max-width: 100%;
  height: auto;
}

/* OUTLINE STYLES */
*:focus {
  outline: 2px dashed #7296EC;
  outline-offset: 3px;
}

/* BUTTON */
.button {
  background-color: #535BA4;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button-primary {
  background-color: #7296EC;
  color: #fff;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.sending-wrapper {
max-width: 1200px;
width: 100%;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}
/* HEADER */
.logo-name {
  border-left: 2px solid #535BA4;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #535BA4;
  padding-left: 7px;
}

/* DEADLINE */
.promotion {
  padding-top: 30px;
  padding-bottom: 30px;
}
.promotion__timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promotion__timer .title {
  font-size: 22px;
  color: #535BA4;
}
.promotion__timer .timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion__timer .timer__block {
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-left: 8px;
  color: #535BA4;
}
.promotion__timer .timer__block span {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
/* .promotion__timer .timer__block {
  width: 60px;
  height: 70px;
  background: #938791;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #fff;
}
.promotion__timer .timer__block span {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
} */


.sending-fields {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sending-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.sending-field {
  width: 100%;
  margin-bottom: 20px;
}

.select {
  margin-top: 20px;
  margin-bottom: 15px;
}

.select p {
  margin-top: 0;
  margin-bottom: 7px;
}


h1, h2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
input[type="file"] {
  margin-bottom: 10px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #535BA4;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #535BA4;
}
.send .button {
  margin: 0;
}

@media screen and (max-width:992px){
  .promotion__timer .title {
    font-size: 24px;
  }
}
@media screen and (max-width:576px) {
  .promotion__timer {
    display: flex;
    flex-direction: column;
  }
  .promotion__timer .title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .logo-img {
    width: 38px;
  }
  .logo-name {
    font-size: 1.1rem;
  }
}

@media screen and (max-width:400px) {
  .promotion__timer .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
