body {
  background: #f0faff;
  font-family: 'Roboto', sans-serif !important;
}

/* HEADER */
.logo-name {
  border-left: 2px solid #535BA4;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #535BA4;
  padding-left: 7px;
}

/* HERO */
.hero {
  height: 500px;
}
.hero-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-info {
  position: absolute;
  z-index: 1;
  max-width: 600px;
  transform: translateY(100%);
  left: 0;
}
.hero-title {
  font-size: 35px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.hero-link {
  display: block;
  width: 40%;
  border: 1px solid #535BA4;
  background-color:#535BA4;
  padding: 6px 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  transition: color 0.5s ease,
  background-color 0.5s ease;
}
.hero-link:not(:first-child) {
  margin-top: 8px;
}
.hero-link:hover {
  color: #535BA4;
  background-color: #ffffff;
}
.hero-img {
  position: absolute;
  background-image: url(../static/img/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 449px;
  width: 600px;
  right: 0;
  top: 0;
}

/* NAMUNALAR */
.namunalar {
  margin-bottom: 30px;
}
.namunalar-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}
.namunalar-content {
}
.namuna-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.namuna-img-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.namuna-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  border: 2px solid #535BA4;
  padding: 5px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition: color 0.5s ease,
    background-color 0.5s ease;
}
.namuna-text:hover {
  color: #fff;
  background-color: rgb(83, 91, 164);
}
.namuna-img {
  display: none;
}
.namuna-img-active {
  display: block;
}

.footer-title {
  font-size: 24px;
}

@media  screen and (max-width:992px) {
  .hero-info {
    transform: translateY(80%);
  }
  .hero-title {
    font-size: 30px;
  }
  .namuna-img-item {
    width: 700px;
    margin-bottom: 20px;
  }
}
@media  screen and (max-width:850px) {
  .hero-title {
    line-height: 1.2;
  }
  .hero-link {
    font-size: 18px;
    padding: 5px 7px;
  }
  .namunalar h5 {
    font-size: 22px;
  }
}
@media  screen and (max-width:767px) {
  .hero {
    height: 450px;
  }
  .hero-info {
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(70%);
  }
  .hero-title {
    font-size: 26px;
    line-height: 1.1;
  }
  .namuna-img-item {
    width: 500px;
  }
  .namunalar h5 {
    font-size: 20px;
  }
}
@media  screen and (max-width:600px) {
  .hero {
    height: 350px;
  }
  .hero-title {
    font-size: 22px;
  }
  .hero-link {
    font-size: 18px;
    padding: 4px 6px;
    width: 50%;
    white-space: nowrap;
  }
  .hero-img {
    width: 400px;
    height: 300px;
  }
  .namuna-img-item {
    width: 450px;
  }
  .namunalar h5 {
    font-size: 18px;
  }
  .footer-title {
    font-size: 20px;
  }
}
@media  screen and (max-width:500px) {
  .hero {
    height: 320px;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero-title {
    font-size: 22px;
  }
  .hero-link {
    margin-left: 70px;
    font-size: 17px;
    padding: 4px 6px;
    width: 60%;
  }
  .namuna-img-item {
    width: 400px;
  }
  .namunalar h5 {
    font-size: 16px;
  }
  .footer-title {
    font-size: 18px;
  }
}
@media  screen and (max-width:450px) {
  .namuna-img-item {
    width: 360px;
  }
}
@media  screen and (max-width:400px) {
  .hero {
    height: 300px;
  }
  .hero-title {
    font-size: 20px;
  }
  .hero-link {
    font-size: 16px;
  }
  .hero-img {
    width: 350px;
    height: 280px;
  }
  .namuna-img-item {
    width: 330px;
  }
}