{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/hujjatlar.css">
  <link rel="shortcut icon" href="{% static '/img/logo.png' %}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- BOOTSTRAP -->
   <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">

  <title>Document</title>
</head>
<body>
  {% include 'asosiy/navbar.html' %}                      


  <div class="hujjatlar">
    <div class="container">
      <h2 class="hujjatlar-title" style="text-align: center;">{{javob.familya | title}} {{javob.ism | title}}</h2>
      <div class="hujjatlar-inner">
        <p class="fan-nomi" style="text-align: center;">{{javob.fan}}</p>

        <div class="hujjat">
          <span class="hujjat-turi">Talaba malumotlarini kiritgan sana</span>
          <a href="tel: {{javob.telefon}}" class="hujjat-link">{{javob.sana}}</a>
        </div>

        <div class="hujjat">
          <span class="hujjat-turi">Talaba bilan bog'lanish uchun telefon raqam:</span>
          <a href="tel: {{javob.telefon}}" class="hujjat-link">{{javob.telefon}}</a>
        </div>


        <div class="hujjat">
          <span class="hujjat-turi">1. Passport</span>
          <a class="send-link button text-white" download="" href="{{javob.pasport.url}}">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
            <span>Yuklab olish</span>
          </a>
        </div>
        <div class="hujjat">
          <span class="hujjat-turi">2. Diplomlar</span>
          <a class="send-link button text-white" download="" href="{{javob.diplom.url}}">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
            <span>Yuklab olish</span>
          </a>
        </div>
        <div class="hujjat">
          <span class="hujjat-turi">3. Ariza yoki yo'llanma xat</span>
          <a class="send-link button text-white" download="" href="{{javob.ariza.url}}">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
            <span>Yuklab olish</span>
          </a>
        </div>
        <div class="hujjat">
          <span class="hujjat-turi">4. Ma'lumotnoma(объективка)</span>
          <a class="send-link button text-white" download="" href="{{javob.malumotnoma.url}}">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
            <span>Yuklab olish</span>
          </a>
        </div>
        <div class="hujjat">
          <span class="hujjat-turi">5. Minimum anketasi</span>
          <a class="send-link button text-white" download="" href="{{javob.anketa.url}}">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
            <span>Yuklab olish</span>
          </a>
        </div>
        <div class="hujjat">
          <span class="hujjat-turi">6. Kengash ko'chirmasi</span>
          <a class="send-link button text-white" download="" href="{{javob.kochirma.url}}">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
            <span>Yuklab olish</span>
          </a>
        </div>      
        <div class="hujjat">
          <span class="hujjat-turi">7. Ilmiy ishlar ro'yxati</span>
          <a class="send-link button text-white" download="" href="{{javob.royhat.url}}">
            <i class="fa-solid fa-download" style="color: #ffffff;"></i>
            <span>Yuklab olish</span>
          </a>
        </div>
      </div>
    </div>
  </div>

   
  {% include 'asosiy/futer.html' %} 


  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>