{% load static %}
<!-- HERO -->
<div class="hero">
    <div class="container hero-wrapper">
        <div class="hero-info">
            <div class="hero-title">Tadqiqotchilarga malakaviy imtihon asosida ko'rsatiladigan xizmatlar hisobini yuritish axborot tizimi</div>
            <div class="hero-links">
                <a class="hero-link" href="{% url 'kirish' %}">Kirish</a>
                <a class="hero-link" href="{% url 'royhat' %}">Ro'yxatdan o'tish</a>
            </div>
        </div>
        <div class="hero-img"></div>
    </div>
</div>