{% load static %}



<!-- NAMUNALAR -->
<div class="namunalar">
    <div class="container">
        <h2 class="namunalar-title">Na'munalar</h2>
        <h5><strong>Eslatma.!</strong> Na'munalarning barchasi sizga rasm formatida taqdim etilgan. Siz passportdan boshqa barcha hujjatlaringizni word yoki .pdf formatida yuklashingiz kerak</h5>
        <div class="namunalar-content">
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    1. Passport namunasi (.jpg, .png).
                </div>                
                
                
                <div class="namuna-img"> 
                    <div>                   
                        <a href="">{{link}}</a>
                    </div>                                      
                    <img class="namuna-img-item" src="{% static '/img/passport.jpg' %}" alt="Pasport namunasi">
                </div>
            </div>
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    2. Diplomlar namunasi (.pdf).
                </div>
                <div class="namuna-img">
                    <div>Diplomlarning har biri sahifasini quyida ko'rsatilganidek skanerlang va barchasini birlashtirib pdf formatida yuklang</div>
                    <img class="namuna-img-item" src="{% static '/img/diplomlar.png' %}" alt="Pasport namunasi">
                    <img class="namuna-img-item" src="{% static '/img/diplomlar2.png' %}" alt="Pasport namunasi">
                </div>
            </div>
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    3. Ariza namunasi.
                </div>
                <div class="namuna-img">
                    <img class="namuna-img-item" src="{% static '/img/ariza.png' %}" alt="Pasport namunasi">
                </div>
            </div>
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    4. Ma'lumotnoma(объективка).
                </div>
                <div class="namuna-img">
                    <img class="namuna-img-item" src="{% static '/img/malumotnoma.png' %}" alt="Pasport namunasi">
                    <img class="namuna-img-item" src="{% static '/img/malumotnoma2.png' %}" alt="Pasport namunasi">
                </div>
            </div>
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    5. Minimum anketasi (.pdf yoki .doc).
                </div>
                <div class="namuna-img">
                    <img class="namuna-img-item" src="{% static '/img/minimum anketa.png' %}" alt="Pasport namunasi">
                </div>
            </div>
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    6. Kengash ko'chirmasi.
                </div>
                <div class="namuna-img">
                    <img class="namuna-img-item" src="{% static '/img/kochirma1.png' %}" alt="Pasport namunasi">
                    <img class="namuna-img-item" src="{% static '/img/kochirma2.png' %}" alt="Pasport namunasi">
                    <img class="namuna-img-item" src="{% static '/img/kochirma.png' %}" alt="Pasport namunasi">
                </div>
            </div>
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    7. Yo'llanma xat.
                </div>
                <div class="namuna-img">
                    <img class="namuna-img-item" src="{% static '/img/xat.png' %}" alt="Pasport namunasi">
                </div>
            </div>
            <!-- ITEM -->
            <div class="namuna-item">
                <div class="namuna-text">
                    8. Ilmiy ishlar ro'yxati.
                </div>
                <div class="namuna-img">
                    <img class="namuna-img-item" src="{% static '/img/ishlar.png' %}" alt="Pasport namunasi">
                </div>
            </div>
        </div>
    </div>
</div>