     
{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo'natish</title>

  <!-- LINKS -->
  <link rel="stylesheet" href="{% static '/fayl.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<main class="main h-100">
    <div class="container px-4">
        <div class="heading mb-4">
            <h2 class="mt-4 text-center">Talabalar ro'yxati</h2>
            <h4 class="text-center">Minimum uchun hujjatlarni yuborgan talabalar</h4>
        </div>
       
        {% for i in data %} 
            <div class="container send">
                <span class="send-text">{{i.ism | title}} {{i.familya | title}} ariza malumotlarini yuklab olish</span>
                <span class="d-none" id="sana-01">
                    {{i.sana}}
                </span>
                <a class="send-link button" href="{% url 'link' i.pk%}">
                <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                <span>Yuklash</span>
                </a>
            </div>       
        {% endfor %}
    </div>
</main>
<script>
  const data = document.querySelector('#sana-01')
  console.log(data.textContent)  
</script>
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

</body>
</html>

                



                