     
{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jo'natish</title>

  <!-- LINKS -->
  <link rel="stylesheet" href="{% static '/fayl.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- BOOTSTRAP -->
  <link rel="shortcut icon" href="{% static '/img/logo.png' %}" type="image/x-icon">
  
  <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>

  <main class="main h-100">
      <div class="container px-4 mh-100" id="sana-01">
          <div class="heading mb-4">
              <h2 class="mt-4 text-center">Talabalar ro'yxati</h2>
              <h4 class="text-center">Minimum uchun hujjatlarni yuborgan talabalar</h4>
          </div>
        
          
          

          
          {% for i in page.object_list %} 
              <div class="container send my-2">
                <span class="send-text">{{i.ism | title}} {{i.familya | title}} ariza malumotlarini yuklab olish</span>
                <span class="d-none">                      
                </span>
                <a class="send-link button text-white" href="{% url 'link' i.pk%}">
                <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                <span>Yuklash</span>
                </a>
              </div>       
          {% endfor %}
          


          
                

              
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                {% if page.has_previous %}
                  <a class="page-link" href="{% url 'home' %}?page={{ page.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                {% endif %}
              </li>
              <li class="page-item">
                {% for nomer in page.paginator.page_range %}
                  {% if page.number == nomer %}
                    <li class="page-item  active"><a class="page-link" href="{% url 'home' %}?page={{ nomer }}">{{nomer}}</a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'home' %}?page={{ nomer }}">{{nomer}}</a></li>
                  {% endif %}
                {% endfor %}
              </li>              
              
              <li class="page-item">
                {% if page.has_next %}
                  <a class="page-link" href="{% url 'home' %}?page={{ page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                {% endif %}
              </li>
            </ul>
          </nav>          
              
      </div>
  </main>
  <script>
    const func = async () => {
      const data = await document.querySelector('#sana-01')
      let resualt = await data.innerHTML
      await console.log(resualt);
    }
    func()
  </script>
   
  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

</body>
</html>

                



                